
.App {
    display: flex;
    height: 100vh;
}
.navbar {
    position: sticky; 
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0;
    padding: 1em;
}

main {
    /* overflow-y: scroll; */
    width: 100%;
}
.content {
    /* background: var(--blue-2); */
    padding: 0em 2em 1em 2em;
    font-family: 'Open Sans', sans-serif;
}

pre {
    background-color: rgba(119,136,153,0.2);
    padding: 1em;
    border-radius: 5px;
}

p code {
    background-color: rgba(119,136,153,0.2);
    padding: 0.2em;
    border-radius: 5px;
}

.hamburger-icon:hover {
    cursor: pointer;
}